In [16]:
import numpy as np
import pandas as pd 
from pandas import DataFrame, Series
import matplotlib
matplotlib.style.use('ggplot')

In [17]:
data = pd.read_csv("data/data.txt", sep=",")
data.head(2)

  ﻿12/12/2015  79  39  6  65  32  26  20  12  67  57  17  10  11  Unnamed: 14
0  14/12/2015  79  39  6  65  33  27  20  12  67  57  17  10  11          NaN
1  16/12/2015  79  38  6  62  34  28  21  11  64  57  17   9  11          NaN

In [18]:
data = data.drop("Unnamed: 14", 1)
data.head(2)

  ﻿12/12/2015  79  39  6  65  32  26  20  12  67  57  17  10  11
0  14/12/2015  79  39  6  65  33  27  20  12  67  57  17  10  11
1  16/12/2015  79  38  6  62  34  28  21  11  64  57  17   9  11

In [19]:
data.columns = ['date','java','.net', 'c','frontend','android','ios','qa','linux','js','php','python','ruby','game-dev']

In [21]:
data.head(2)

,date,java,.net,c,frontend,android,ios,qa,linux,js,php,python,ruby,game-dev
0,14/12/2015,79,39,6,65,33,27,20,12,67,57,17,10,11
1,16/12/2015,79,38,6,62,34,28,21,11,64,57,17,9,11

In [24]:
data_aws = pd.read_csv("data/data_aws.txt", sep=",")
data_aws = data_aws.drop("Unnamed: 14", 1)
data_aws.columns = ['date','java','.net', 'c','frontend','android','ios','qa','linux','js','php','python','ruby','game-dev']

In [27]:
data_aws.head(2)

,date,java,.net,c,frontend,android,ios,qa,linux,js,php,python,ruby,game-dev
0,11/03/2016,86,44,15,62,41,30,23,14,80,76,16,13,10
1,12/03/2016,85,44,15,62,41,30,23,15,79,78,16,13,10

In [29]:
frames = [data, data_aws]
result = pd.concat(frames)

In [30]:
result

,date,java,.net,c,frontend,android,ios,qa,linux,js,php,python,ruby,game-dev
0,14/12/2015,79,39,6,65,33,27,20,12,67,57,17,10,11
1,16/12/2015,79,38,6,62,34,28,21,11,64,57,17,9,11
2,16/12/2015,79,38,6,62,34,28,21,11,64,57,17,9,11
3,17/12/2015,79,38,6,62,34,28,21,11,65,58,17,9,11
4,18/12/2015,81,38,6,61,35,29,21,11,64,58,17,9,11
5,23/12/2015,84,38,6,61,36,29,21,12,65,56,17,10,11
6,25/12/2015,84,39,6,62,38,29,22,12,66,56,17,10,11
7,26/12/2015,84,39,6,62,38,29,22,12,67,58,17,10,11
8,27/12/2015,84,39,6,61,38,29,22,12,66,58,17,10,11
9,28/12/2015,84,39,6,62,38,29,22,12,68,59,17,10,11
10,30/12/2015,84,39,6,62,38,29,22,12,68,59,17,10,11
11,01/01/2016,84,39,6,62,38,29,22,13,68,60,18,11,11
12,03/01/2016,84,39,6,62,38,29,22,13,68,60,18,11,11
13,04/01/2016,84,39,6,62,38,29,22,13,68,60,18,11,11
14,06/01/2016,82,40,7,61,37,29,22,13,67,61,18,11,11
15,08/01/2016,82,40,7,62,37,29,22,13,68,61,18,11,11
16,09/01/2016,82,40,7,62,37,29,22,13,68,61,18,11,11
17,10/01/2016,82,40,7,62,37,29,22,13,68,61,18,11,11
18,11/01/2016,77,40,7,62,37,29,21,13,63,61,18,11,11
19,14/01/2016,78,40,7,63,37,29,20,13,64,61,18,11,11
20,17/01/2016,77,38,9,63,37,30,20,14,64,59,19,12,11
21,18/01/2016,82,40,9,64,37,30,22,16,66,60,19,12,11
22,19/01/2016,82,40,9,64,37,30,22,16,65,59,19,12,11
23,20/01/2016,82,40,9,65,37,30,22,18,67,59,20,12,11
24,21/01/2016,83,42,10,64,37,30,22,18,66,57,20,12,11
25,23/01/2016,83,42,10,64,37,30,22,18,66,58,20,12,11
26,25/01/2016,82,42,10,64,37,30,22,17,64,58,20,12,11
27,26/01/2016,85,42,10,64,40,33,21,17,66,60,20,12,11
28,27/01/2016,86,42,10,64,40,33,22,17,67,60,20,12,11
29,31/01/2016,85,42,10,66,39,33,22,16,69,64,22,12,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,14/03/2016,82,44,15,62,41,30,23,15,76,78,16,13,10
4,15/03/2016,83,45,16,64,41,30,22,15,78,79,16,13,10
5,16/03/2016,83,45,16,64,41,31,22,15,78,78,16,13,10
6,17/03/2016,83,45,16,64,41,30,22,15,79,79,16,13,10
7,18/03/2016,83,45,16,65,41,31,22,15,81,80,16,13,10
8,19/03/2016,83,45,16,65,41,31,22,15,81,80,16,13,10
9,20/03/2016,83,45,16,65,41,31,22,15,81,80,16,13,10
10,21/03/2016,82,45,16,66,41,32,21,15,79,79,16,13,10
11,22/03/2016,82,45,16,66,41,32,22,14,79,79,15,12,10
12,23/03/2016,82,45,16,67,42,33,22,14,79,79,15,12,10
13,24/03/2016,82,45,16,68,42,33,22,14,79,79,15,12,10
14,25/03/2016,82,46,16,67,42,33,22,14,80,79,15,12,10
15,26/03/2016,82,47,16,67,42,33,22,14,80,79,15,12,10
16,27/03/2016,82,47,16,67,42,33,22,14,80,79,15,12,10
17,28/03/2016,81,47,14,64,43,34,22,14,77,76,13,13,10
18,29/03/2016,82,47,16,67,43,34,22,14,80,79,16,13,10
19,30/03/2016,82,47,16,68,43,34,22,15,81,81,16,13,10
20,31/03/2016,83,47,16,69,43,34,22,15,82,81,16,13,10
21,01/04/2016,83,48,17,69,43,34,22,15,83,81,16,13,10
22,02/04/2016,83,48,17,69,43,34,22,15,83,81,16,13,10
23,03/04/2016,83,48,17,69,43,34,22,15,83,81,16,13,10
24,04/04/2016,84,48,17,69,42,32,22,16,80,80,16,13,10
25,05/04/2016,84,49,17,69,42,32,22,16,80,81,16,13,10
26,06/04/2016,84,49,16,69,42,32,22,16,80,81,16,13,10
27,07/04/2016,80,49,16,63,41,29,22,16,70,78,15,12,10
28,08/04/2016,80,49,16,64,41,29,22,16,73,80,15,11,10
29,09/04/2016,80,49,16,64,41,29,22,16,73,80,15,11,10
30,10/04/2016,80,49,16,64,41,29,22,16,73,80,15,11,10
31,11/04/2016,79,48,15,63,40,28,22,16,70,78,15,11,10
32,12/04/2016,80,48,15,63,41,28,22,16,71,79,15,11,10

In [32]:
result.describe()

,java,.net,c,frontend,android,ios,qa,linux,js,php,python,ruby,game-dev
count,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000
mean,83.884615,43.705128,12.269231,64.615385,39.756410,30.974359,21.884615,14.705128,73.179487,69.602564,17.564103,11.730769,10.564103
std,3.967337,3.556990,4.145638,2.391711,2.523582,2.063752,0.557843,1.773609,6.334288,9.320191,2.213241,1.124382,0.499083
min,77.000000,38.000000,6.000000,61.000000,33.000000,27.000000,20.000000,11.000000,63.000000,56.000000,13.000000,9.000000,10.000000
25%,82.000000,40.000000,7.500000,62.000000,38.000000,29.000000,22.000000,13.250000,67.000000,60.000000,16.000000,11.000000,10.000000
50%,83.000000,45.000000,15.000000,64.000000,41.000000,30.000000,22.000000,15.000000,74.000000,70.000000,17.000000,12.000000,11.000000
75%,85.000000,46.750000,16.000000,66.750000,41.000000,33.000000,22.000000,16.000000,79.000000,79.000000,20.000000,13.000000,11.000000
max,93.000000,49.000000,17.000000,69.000000,43.000000,34.000000,23.000000,18.000000,83.000000,81.000000,22.000000,13.000000,11.000000

In [33]:
result = result.cumsum()

plt.figure(); result.plot();

NameError: name 'plt' is not defined